@import 'bootstrap-customize';

#page-new-machine {
  $active-border-px: 5px;

  .form-group {
    margin-bottom: 50px;
  }

  .btn-group {
    .btn {
      $padding: 10px;

      padding-top: $padding;
      padding-bottom: $padding;
      margin: 0 20px;
      @include grouping;

      &.btn-info.active, &.btn-info:hover {
        box-shadow: none !important;
        background-color: $grouping-active;
        border-color: $table-border-color;
        border-bottom: solid $active-border-px $brand-primary;
        padding-bottom: $padding - $active-border-px;
      }

      span.title {
        font-size: 20px;
        font-weight: bold;
      }

      span.val {
        font-size: 16px;
      }
    }
  }

  .details {
    text-align: center;
    input {
      margin: 0 auto;
      width: 100%;
    }
  }

  .plans.btn-group {
    .btn {
      width: 120px;
    }
  }

  .image-types.btn-group {
    margin-bottom: 50px;
  }

  .appliances.btn-group, .isos.btn-group {
    .btn {
      margin: 0 10px;
      width: 120px;
      height: 120px;

      img {
        margin-top: 5px;
        max-width: 70px;
        max-height: 70px;
      }
    }
  }

  .snapshots.btn-group {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    table {
      margin: 0 auto;

      .name {
        width: 60%;
      }

      tbody {
        tr td {
          @include transition(border, 0.15s, ease-in);
          border-left: solid $active-border-px transparent !important; 
        }
        tr:hover, tr.selected  {
          td:first-child {
            @include transition(border, 0.15s, ease-in);
            border-left: solid $active-border-px $brand-primary !important; 
          }
          td {
            border-radius: 0px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .create {
    margin-top: 30px;
  }
}
