#page-machine #storage {
  text-align: left;

  .create {
    margin-bottom: 30px;
  }

  table {
    margin: 0 auto;

    td, th {
      vertical-align: middle;
    }

    td.name {
    }

    td.type {
      width: 15%;
    }

    td.size {
      width: 20%;
    }

    td.actions {
      text-align: right;
      width: 1px !important;
      white-space: nowrap;

      a.btn {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
      }
    }

    .form-control {
      height: 30px;
    }

    input {
      margin-left: 3px;
      margin-right: 3px;
    }

    select {
      display: inline-block;
      padding: 0;

      &.type {
        width: 100%;
      }

      &.size {
        width: 60px;
        margin-right: 8px;
      }
    }
  }
}
