#page-console.text-center
  div
    canvas data-password=@machine.vnc_password data-script=path_to_javascript('novnc.js')
  p
    | VM stuck? Sometimes this may help. &nbsp;
    button.ctrlaltdel
      i.fa-refresh.fa
      |  Send Ctrl+Alt+Del
  p
    | If the VNC console doesn't appear, please upgrade your browser or trying a different one.

- content_for :scripts do
  javascript:
    $(function() {
      $('.console').click(function() {
        var script = $('canvas').attr('data-script');

        $.getScript(script).done(function() {
          WebUtil.init_logging(WebUtil.getQueryVar('logging', 'debug'));

          var rfb = new RFB({
            'target': $('canvas')[0],
            'repeaterID': '',
            'encrypt': false, // TODO
            'true_color': true,
            'local_cursor': true,
            'shared': true,
            'updateState': function() {

            },
            'view_only': false,
            'onPasswordRequired': function() {
              console.log('VNC: Password required');
            }
          });

          var host = 'localhost';
          var port = 6080;
          var password = $('canvas').attr('data-password');
          console.log(password);

          rfb.connect(host, port, password, '');

          $('.ctrlaltdel').click(function() {
            rfb.sendCtrlAltDel();
          });

          $('.nav-tabs a').click(function() {
            rfb.disconnect();
          });
        });
      });
    });
