#page-console.text-center
  div
    canvas { data-password=@machine.vnc_password data-uuid=@machine.uuid
      data-script=path_to_javascript('novnc.js') }
  p
    | VM stuck? Sometimes this may help. &nbsp;
    button.ctrlaltdel
      i.fa-refresh.fa
      |  Send Ctrl+Alt+Del
  p
    | If the VNC console doesn't appear, please upgrade your browser or trying a different one.

- content_for :scripts do
  javascript:
    $(function() {
      $('.console:not(.disabled)').click(function() {
        var script = $('canvas').attr('data-script');

        $.getScript(script).done(function() {
          var $canvas = $('canvas');

          var rfb = new RFB({
            'target': $canvas[0],
            'repeaterID': '',
            'encrypt': location.protocol === 'https:',
            'true_color': true,
            'local_cursor': true,
            'shared': true,
            'updateState': function(rfb, state, oldState, msg) {
              console.log('VNC: State changed: ' + msg);
            },
            'view_only': false,
            'onPasswordRequired': function() {
              console.log('VNC: Password required');
            }
          });

          var host = window.location.hostname;
          var port = 6080;
          var password = $canvas.attr('data-password');
          var uuid = $canvas.attr('data-uuid');
          document.cookie = 'token=1-' + uuid + '; path=/';

          rfb.connect(host, port, password, uuid);

          $('.ctrlaltdel').click(function() {
            rfb.sendCtrlAltDel();
          });

          $('.nav-tabs a').click(function() {
            rfb.disconnect();
          });
        });
      });
    });
