#page-settings
  h3 CD image

  = form_for @machine, as: :machine, url: mount_iso_machine_path(@machine), method: :post, remote: true do |f|
    label
      | Mount ISO: &nbsp;
      = f.collection_select :iso_image_id, @iso_images, :id, :long_name, prompt: true
      i.fa.fa-spinner.fa-spin.hidden
      i.fa.fa-check.hidden
      i.fa.fa-warning.hidden

  h3 Danger Zone

  p
    = link_to 'Delete machine', machine_path(@machine), method: 'delete', class: 'btn btn-danger',
          data: {confirm: 'Are you sure? This cannot be undone.', confirm_title: "Delete #{@machine.id}"}


- content_for :scripts do
  javascript:
    $(function() {
      return $('#machine_iso_image_id').change(function() {
        var form = $(this).closest('form');
        form.submit();
        var spinner = form.find('.fa-spinner');
        spinner.removeClass('hidden');
        form.on('ajax:success', function(e, data) {
          handleProgress(data.progress_id, function() {
            spinner.addClass('hidden');

            var tick = form.find('.fa-check');
            tick.removeClass('hidden');
            setTimeout(function() {
              tick.fadeOut('slow', function() {
                tick.addClass('hidden');
                tick.show();
              });
            }, 500);

          }, function(error) {
            spinner.addClass('hidden');
            form.find('fa-warning').removeClass('hidden');
          })
        })
      });
    });
