@import 'bootstrap-customize';
@import 'bootstrap';
@import 'fonts';


.prototype-alert {
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #A1CFA5;
  color: #637A64;
  text-align: center;

  a {
    color: inherit;

    &:hover {
      border-bottom: solid 1px !important;
      text-decoration: none;
    }
  }
}


.header.row {
  margin-top: 30px;
  margin-bottom: 20px;
  $header-height: 100px;

  .menu {
    font-size: 14px;
    text-align: center;

    img {
      padding: 10px;
      width: $header-height;
      height: $header-height;
      box-sizing: content-box;
      @include grouping;
    }

    p {
      margin-top: 10px;
    }
  }

  @mixin bottom {
    @media(min-width: $screen-md) {
      margin-top: 60px;
    }
  }

  $padding-bottom: 15px;

  .header {
    @include bottom;

    h1 {
      margin-top: 0;
      margin-bottom: 0;

      span.oi {
        color: $brand-primary;
        font-size: 40px;
        position: relative;
        top: 8px;
        padding-right: 12px;
      }
    }
  }

  .action {
    @include bottom;
    margin-top: 24px;

    .btn-primary {
      padding-top: 15px;
      padding-bottom: $padding-bottom;
    }
  }
}


@media(max-width: $screen-sm-max) {
  body {
    padding-top: $navbar-height;
  }

  // Can't use @extend inside media query - need to copy .navbar-fixed-top definition
  nav.navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-radius: 0;
    top: 0;

    .navbar-collapse {
      border: 0;
    }

    .home {
      margin-top: 30px;
    }
  }

  .navbar-brand {
    font-family: Earthbound;
    font-size: 32px;
    padding-top: 10px;
    color: #5C2848 !important;

    .kick {
      color: $brand-primary !important;
    }
  }
}

nav.navbar {
  border: 0 !important;
  padding-top: 4px;
  padding-bottom: 4px;
  @include grouping;

  li {
    float: none;
    width: 100%;
    border: 0 !important;
    margin-top: 0 !important;
  }

  span.oi, span.fa {
    font-size: 24px;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    top: 5px;
    border-radius: 4px;
  }

  .active span.oi {
    color: $navbar-default-bg;
    background-color: $brand-primary;
  }
}

h1, h2, h3, h4, h5, h6 {
  i {
    color: $brand-primary;
    padding: 10px;
    display: inline-block;
    margin-right: 5px;
  }
}

h3 {
  font-size: 20px;
}

div.field_with_errors {
  display: inline;
}

.mobile-newsletter {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: lighten($light, 3%);
}

.newsletter {
  .description {
    font-size: 16px;
  }

  p.result {
    margin-top: 5px;
  }

  a.back {
    margin-top: 20px;
  }

  h3 {
    color: $brand-primary;
  }
}

#old-browser {
  text-align: center;
  z-index: 1001;

  div {
    display: inline-block;
    width: 450px;
    padding: 20px;
    background-color: #ff8c1a;
    margin: 0 auto;
  }
}

@import 'pages/*';
@import 'vendor/*.css.scss'; // ignore .less for now
